/* Empty. Add your own CSS if you like */

.bodyStyle {
      padding-top: 80px;
}

.displayInline {
      display: inline;
}

.leftDiv {
      width: 75%;
      float: left;
}

.rightDiv {
      width: 25%;
      float: right;
}

.rightAligned {
      text-align: right;
      padding-right: 3%;
}

.listHeader {
    margin: 0px;
    padding-left: 25%;
    font-size: 28px;
    background-color: #11c1f3!important;
}

.marginBottom0 {
    margin-bottom: 0px;
}

.listItem {
    padding-left: 6%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-style: italic!important;
}

.paddingStCenter {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20%;
      padding-right: 20%;
}

.styleSubmitButton {
      margin-left: 33%;
      padding-left: 9%;
      padding-right: 9%;
}

.noMinHeight {
      padding: 7px;
      min-height: 0px;
      line-height: 23px;
}

.lightBlue {
      background-color: #11c1f3!important;
}

.noBorder {
      border-style: none;
}

.inputsT{
	padding: 20px;
	font-size: 25px;
}

body{
	background-color: #FFD800;
}

ion-content{
	background-color: #FFD800;
}

ion-view{
	background-color: #FFD800;
}
.item{
	color:#587058;
	background-color: #FFD800!important;
}

@font-face {
    font-family: Angelina;
    src: url('./fonts/angelina.TTF');
}

@font-face {
    font-family: Quango;
    src: url('./fonts/quango.otf');
}


.Quango{
	font-family: Quango !important;
	font-size: 20px !important;

}

.Angelina{
	font-family: Angelina;
	font-size: 31px;
	font-weight: bold;
}

.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
	font-family: Quango !important;
 }

/*Set the background to transparent for ion-item*/
.custom .Angelina {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #FFD800;   /*Sets colors for top and bottom border*/
	text-color: blue!important ;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}
