<ion-view view-title="Add Transaction">
  <ion-content class="bodyCenter">
    <div class="list">

      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Description">
        </label>
      </div>
      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Price">
        </label>
      </div>
      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Category">
        </label>
      </div>
      <div class="item item-input-inset paddingStButton noBorder">
        <button class="button button-small">
          Submit
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
