<ion-view view-title="Add Transaction">
  <ion-content class="bodyStyle">
    <div class="list">

      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Description">
        </label>
      </div>
      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Price">
        </label>
      </div>
      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Category">
        </label>
      </div>
      <div class="item item-input-inset noBorder scanButtonDiv">
        <button class="button button-positive scanBarcodeButton lightBlue noMinHeight" ng-click="scanBarcode()">
          Scan Barcode
        </button>
        <button class="button button-positive lightBlue noMinHeight" >
          Use Voice
        </button>
      </div>
      <div class="item item-input-inset noBorder ">
        <button class="button button-positive styleSubmitButton darkYellow">
          Submit
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
