<ion-view view-title="Add Transaction">
  <ion-content class="bodyStyle">
    <div class="list">

      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Description" ng-model="data.description">
        </label>
      </div>
      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Price" ng-model="data.price">
        </label>
      </div>
      <div class="item item-input-inset paddingStCenter noBorder">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Category" ng-model="data.category">
        </label>
      </div>
      <div class="item item-input-inset noBorder row">
        <div class="col col-20 col-offset-20">
          <button class="button button-positive lightBlue noMinHeight" ng-click="scanBarcode()">
            Scan Barcode
          </button>
        </div>
        <div class="col col-20 col-offset-20">
          <button class="button button-positive lightBlue noMinHeight">
            Use Voice
          </button>
        </div>
      </div>
      <div class="item item-input-inset noBorder ">
        <button class="button button-positive styleSubmitButton darkYellow" ng-click="addTransaction()">
          Submit
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
