<ion-view view-title="Balance">
  <ion-content>
	<div class="row">
		<div class="col ">
			<button class="button button-positive button-block Quango" ng-click="showChart()">
				Show chart
			</button>
		</div>

		<div class="col ">
			<button class="button button-positive button-block Quango" ng-click="showBalance()">
				Show Balance
			</button>
			</div>
		</div>

    <div id="canvasChart">
      <canvas id="pie" class="chart chart-pie"
              chart-data="data.data" chart-labels="data.labels" chart-options="options">
      </canvas>
    </div>
		<div class="list" id="budgetBalance">
			<div class="item item-divider listHeader Quango" style="text-align:center; border:none" ng-if='spent' >
        Balance : {{balance}}  $
      </div>
			<div class="item item-divider listHeader Quango" style="text-align:center; border:none" ng-if='spent' >
        Limit : {{limit}} $
      </div>
			<div class="item item-divider listHeader Quango" style="text-align:center; border:none" ng-if='spent' >
        Period :{{period}}
      </div>
			<div class="item item-divider listHeader Quango" style="text-align:center; border:none" ng-if='spent' >
        Spents :{{spent}} $
      </div>
		</div>


  </ion-content>
</ion-view>
