<ion-view view-title="Review Transaction" ng-init="init()">
  <ion-content>

    <div class="list center marginBottom0" ng-repeat="transaction in data.transactions">

      <div class="item item-divider listHeader" ng-if="isNewTag(transaction)">
        {{transaction.tags}}
      </div>

      <a class="item noBorder listItem" href="#">
        <div class="displayInline center leftDiv">
          <i>{{transaction.description}}</i>
        </div>
        <div class="displayInline rightDiv rightAligned">
          {{transaction.amount | number:2}} $
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>
